body,ul,li,div,img{
	margin:0;
	padding:0;
	
}
a{
	
	color:black;
}
/*
	голова
*/
.header{
	display:block;
	width:100%;
	height:100px;
	position:fixed;
	z-index:1;
	top:0;
}
.header > div{
	position:absolute;
}
background{
	background-color:#fcfcfc;
	opacity:0.95;
	width:100%;
	height:100%;
	position:absolute;
	z-index:-1;
}
.header .logo{
	display:block;
	margin-top:20px;
	left:90px;
}

.header .navigation{
	right:0;
	padding:33px;
}

.navigation li{
	float:left;
	margin-right:45px;
}
/* 12 отступы + 26 размер = 50 - размер строки навигации ( типа выровнял )*/
.navigation p{
	height: 100%;
	margin: 12px 0 12px 0; 
	font-size: 26px;
	font-family: 'Jolly Lodger', cursive;
}
.navigation a{
	font-size:28px;
	font-weight:bold;
	font-family: 'Jolly Lodger', cursive;
}

.logo img{
	vertical-align: middle;
	height: 60px;
	opacity: 0.8;
}
.logo span{
	vertical-align: middle;
	font-size:30px;
	font-family: 'Bad Script', cursive;
}

/*
	тело
*/
.content{
	height:100%;
}
.content > *{
	display:inline-block;
	vertical-align:top;
}
.services-list{
	list-style-type:none;
	margin:0;
	padding:0;
}
.services-list.mobile{
	margin:100px 0;
	width:100% !important;
}
/* стили итема */
.services-list.desktop > li{
	
	height:100% !important;
	float:left;
}
.services-list.mobile > li{
	width:100% !important;
}
.services-list > li > div{
	height:100%;
	width:100%;
	overflow:hidden;
	position:relative;
}
.services-list .category .info{
	color:white;
	position: absolute;
	width:100%;
	z-index:1;
	transition:0.5s;
	-webkit-transition:0.5s;
}
.services-list.desktop .category .info{
	bottom: 100px;
}
.services-list.mobile .category .info{
	bottom: 0;
}
.services-list background{
	height:0;
	bottom:0;
	transition:0.5s;
	-webkit-transition:0.5s;
}
.services-list .category .title{
	padding-right:25px;
	text-align: right;
	font-size: 25px;
	font-family: fantasy;
}
.services-list .category a{
	height:100%;
	width:100%;
	display:block;
	position:absolute;
}
.services-list .category img{
	display:none;
	position:absolute;
	z-index:-5;
	-webkit-filter: grayscale(100%); 
	-moz-filter: grayscale(100%);
	filter: gray; 
	filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	transition:0.5s;
	-webkit-transition:0.5s;
}
.services-list.mobile .category img{
	display:block;
	width:100%;
	left:0 !important;
}
.services-list.desktop .category img{
	display:block;
	height:100%;
	left:100%;
	top:0 !important;
}
.category#selected .info,
.services-list .category a:hover .info{
	color:black;
}
.category#selected background,
.services-list .category a:hover background{
	height:100%;
}
.services-list .category a vignette{
	opacity:0;
	transition:0.5s;
}
.services-list.desktop .category vignette:after{
	top:100px;
	bottom:100px;
}
.category#selected vignette,
.services-list .category a:hover vignette{
	opacity:1 !important;
	transition-delay:0s !important;
}
.services-list .category a vignette.hovered{
	opacity:0.5
	
}
.category#selected img,
.services-list .category a:hover img{
	-webkit-filter: grayscale(0); 
	-webkit-filter: grayscale(0); 
	-moz-filter: grayscale(0);
	filter: none; 
	filter: grayscale(0);
}

/*
	нижний колонтитул Oo
*/
.footer{
	z-index:1;
	position:fixed;
	bottom:0;
	height:100px;
	width:100%;
	display:block;
}
.footer img{
	width:50px;
	height:50px;
}
.footer > div{
	position:absolute;
}
/*
	пиздим у шапку навигацию ради инфы
*/
.footer .navigation{
	right:0;
	padding:25px;
}
vignette{
	
	-webkit-box-shadow: inset 0px 0px 150px rgba(0,0,0,0.28);
	-moz-box-shadow:    inset 0px 0px 150px rgba(0,0,0,0.28);
	box-shadow:         inset 0px 0px 150px rgba(0,0,0,0.28);
}
vignette:after {
	-webkit-box-shadow: inset 0px 0px 150px rgba(0,0,0,0.28);
	-moz-box-shadow:    inset 0px 0px 150px rgba(0,0,0,0.28);
	box-shadow:         inset 0px 0px 150px rgba(0,0,0,0.28);

	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	content: "";
}

.mosaic{
}
	.mosaic > div{
	}
	.mosaic .square{
		width:100px;
		height:100px;
	}
		.mosaic .square img{
			width:100%;
			height:100%;
		}

	.mosaic .wide{
		width:210px;
		height:100px;
	}
		.mosaic .wide  img{
			width:100%;
			height:100%;
		}
	.mosaic .normal{
		width:100px;
		height:210px;
	}
		.mosaic .normal img{
			width:100%;
			height:100%;
		}
	.mosaic .important{
		width:210px;
		height:210px;
	}
		.mosaic .important  img{
			width:100%;
			height:100%;
		}